.banner {
    position: relative;
    width: 100%;
    height: 900px;
    position: relative;
    background: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   

 
    
    &__content {
        width: 100%;
        margin-top: 50px;
        @include center(absolute, 50%);
        text-align: center;
        > * {
            color: white;
        }
        span {
           
            display: inline-block;
            font-size: 20px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 10px;
        }
        h2 {
            display: block;
            font-family: $three-font;
            font-weight: lighter;
            font-size: 90px;
            margin: 55px 0 60px 0;
            line-height: 1;
        }
        a {
            font-size: 13px;
            text-transform: uppercase;
            display: inline-block;
            background-color:  #fd5a5a;
            border-radius: 5px;
            padding: 20px 45px;
            @include trans-normal(0.5s);
            &:hover {
                
                background-color:  #0fc392;
            }
        }
    }
    @media screen and (max-width: 1024px) {
        & {
            height: 600px;
        }
        &__content {
            h2 {
                font-size: 70px;
               
            }
        }
    }
    @media screen and (max-width: 700px) {
        & {
            height: 500px;
        }
        &__content {
           
            margin-top: 50px;
            span {
                font-size: 16px; 
                letter-spacing: 8px;
            }
            h2 {
                font-size: 45px;
               
            }
        }
    }
}