.fact {
    position: relative;
    margin-top: 140px;
    
    ul {
        @include flex(space-between, row);
    }
    
    &__bg {
        position: relative;
        span {
            display: inline-block;
            position: relative;
            &::after {
                z-index: -1;
                position: absolute;
                top: 0;
                left: 0;
                content:"";
                width: 55px;
                height: 55px;
                border-radius: 50%;
                
            }
        }
        img {
            z-index: 1;
            position: relative;
            
            &[src="/img/school-black.png"] {
                width: 50px;
                height: 40px;
                left: 25px;
                top: 10px;
            }
            &[src="/img/health-black.png"] {
                width: 50px;
                height: 40px;
                left: 25px;
                top: 8px;
            }
            &[src="/img/medical-check.png"] {
                width: 40px;
                height: 40px;
                left: 28px;
                top: 6px;
            }
            &[src="/img/education-black.png"] {
                width: 32px;
                height: 40px;
                left: 32px;
                top: 8px;
            }

        } 
       
    }
    #fact-one::after {
        background-color: #ffd5d5;
    }
    #fact-two::after {
        background-color: #c2ebe0;
    }
    #fact-three::after {
        background-color: #fbc7a8;
    }
    #fact-four::after {
        background-color: #bae3f9;
    }
    &__content {
        margin-top: 25px;
        display: flex;
        flex-flow: nowrap row;
        align-items: center;
        
        span {
            position: relative;
            display: inline-block;
            font-family: $three-font;
            &:nth-of-type(1) {
                font-size: 50px;
                padding-right: 20px;
                margin-right: 20px;
    
                &:after {
                    position: absolute;
                    content: '';
                    display: inline-block;
                    width: 1px;
                    height: 50px;
                    background-color: #d2d8da;
                    right: 0;
                    top: 5px;
                }
            }
            &:nth-of-type(2) {
                font-size: 27px;
            }
        }
    }
    @media screen and (max-width: 1024px) {
        &__listitem {
            flex-basis: 48%;
            margin-bottom: 50px;
            position: relative;
        }
        &__bg {     
            span {      
                left: 50%;
                transform: translate(-50%, 0);  
            }
        }
        &__content {
            position: relative;;
            left: 50%;
            transform: translate(-100px, 0);
        }
    }
    @media screen and (max-width: 700px) {
        & {
            margin-top: 100px;
        }
        &__listitem {
            flex-basis: 100%;

        }
    }
}