.feature {
    margin-top: 160px;
    text-align: center;
    span {
        position: relative;
        display: inline-block;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 26px;
        &::after {
            content: '';
            position: absolute;
            z-index: -1;
            left: 52%;
            transform: translate(-52%, 0);
            top: -13px;
            background: url(../img/bg-2.png);
            background-size: contain;
            background-repeat: no-repeat;
            display: block;
            width: 50px;
            height: 54px;
        }
    }
    h2 {
        font-size: 48px;
        font-family: $three-font;
        font-weight: lighter;
    }
    ul {
        @include flex(center, row);
        
        margin: 80px 0 140px 0;
    }
    &__card {
        > * {
            color: white;
        }
        @include trans-normal(0.5s);
        &:hover {
            transform: translate(0, -20px);
        }
        width: 360px;
        height: 450px;
        padding: 50px 38px;
        img {
            width: 70px;
            height: 80px;
        }
        
        
        &:first-of-type {
            background: url(../img/card1.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin-right: 30px;
        }
        &:nth-of-type(2) {
            background: url(../img/card2.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin-right: 30px;
        }
        &:last-of-type {
            background: url(../img/card3.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        h3 {
            font-family: $three-font;
            font-size: 27px;
            font-weight: lighter;
            margin: 20px 0 25px 0;
        }
        p {
            font-size: 14px;
            font-weight: 300;
            line-height: 1.7;
        }
        a {
            white-space: nowrap;
            margin-top: 40px;
            display: inline-block;
            font-weight: lighter;
            font-size: 15px;
            border: 2px solid white;
            padding: 15px 35px;
            border-radius: 5px;
           
            i {
                font-size: 13px;
                
            }
        }
    }
    @media screen and (max-width: 1140px) {
        &__card {       
            &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3) {
                margin: 0 10px 20px 10px;
            }
        }
    }
    @media screen and (max-width: 768px) {
        & {
            > h2 {
                font-size: 35px;
            }
        }
        &__card {
            width: 300px;
            height: 400px;
           
            img {
                width: 40px;
                height: 50px;
            }
            h3 {
                white-space: nowrap;
                font-size: 22px;
                font-weight: lighter;
                margin: 10px 0 15px 0;
            }
            p {
                font-size: 13px;
                font-weight: 300;
                line-height: 1.6;
            }
            a {
                margin-top: 20px;       
                font-size: 14px;  
                padding: 15px 35px;
                
                i {
                    font-size: 12px;
                }
            }
           
        }
    }
    
  
}