.header {
    position: relative;
    top: 20px;
    display: flex;
    flex-flow: nowrap row;
    background-color: #fd5a5a;
    align-items: center;
    padding: 0 40px;
    border-radius: 5px;
    z-index: 1;
    &::after {
        content: '';
        width: 98%;
        height: 100%;
        z-index: -1;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: -10px;
        background: rgba($color: #fd5a5a, $alpha: 0.5);
        border-radius: 3px;
    }
    &__logo {
        flex: 1;
        > div {
            margin: 20px 0;
            margin-right: 8px;
            display: inline-block;
            background-color: white;
            width: 45px;
            height: 45px;
            padding-top: 8px;
            border-radius: 50%;
            text-align: center;
            img {
                width: 20px;
            }
            
        }
        h1 {
            font-family: $second-font;
            font-size: 32px;
            display: inline-block;
            text-transform: uppercase;
            vertical-align: text-bottom;
            > a {
                color: white;
            }
        }
    }
    &__mobile {
        display: none;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        i {
            vertical-align: text-bottom;
            font-size: 20px;
            color: white;
            display: inline-block;
            @include trans-normal(0.5s);
            &:hover {
                 color:   #0fc392;
            }
        }
    }
    &__menu {
        ul {
            
            @include flex(center, row);
        }
        .header__listitem {
            margin-right: 50px;
            > a {
                @include trans-normal(0.5s);
                &:hover {
                    color:   #0fc392;
                }
                text-transform: uppercase;
                color: white;
                font-size: 15px;
                font-weight: 300;
            }        
            &:nth-of-type(7), &:nth-of-type(8) {
                display: none;
            }
        }
    }
    &__other {
        i {
            padding: 35px 0;
            display: inline-block;
            color: white;
            font-size: 15px;
            cursor: pointer;
            @include trans-normal(0.5s);
            &:first-of-type {
                margin-right: 20px;
            }
            &:hover {
                color:   #0fc392;
            }
        }
       
    }
    @media screen and (max-width: 1024px) {
        &__logo {
            @include center(absolute, 50%);
        }
        &__menu {
            order: 1;
            flex: 1;
            ul {
                display: none;    
            }
        }
        &__mobile {
            display: block;
        }
        &__other {
            order: 3;
        }
    }
    @media screen and (max-width: 768px) {
        & {
            
            left: 0;
            top: 0;
            right: 0;
            border-radius: 0;
            width: 100%;
            padding: 0 20px;
            margin: 0;
            
        }
        &__logo {        
            h1 {
                font-size: 16px;
                vertical-align: super;
            }
        }
        &__other {
            i {
                &:first-of-type {
                    margin-right: 8px;
                }     
            }
        }
    }
    @media screen and (max-width: 300px) {
        &__logo {        
            h1 {
                display: none;
            }
        }
    }
}