.navbar {
    
    max-width: 1140px;
    margin: 0 auto;
    @include flex(space-between, row);
    align-items: center;
    &__left {
        
        > * {
            color: #7d7d7d;
            font-size: 14px;
            padding: 25px 0;
        }
        i {
            margin-right: 8px;
        }
        span {
            cursor: pointer;
            @include trans-normal(0.5s);
        }
        span:hover {
            color: #0fc392;
        }
    }
    &__phone {
        margin-right: 40px;
    }
    &__right {
        > a {
            &:last-of-type {
                background-color: #0fc392;
                color: white;
            }
            &:not(:last-of-type):hover {
                background-color: #0fc392;
                color: white;
            }
            &:not(:last-of-type) {
                margin-right: -5px;
            }
            @include trans-normal(0.5s);
            color: #7d7d7d;
            font-size: 14px;
            text-transform: uppercase;
            display: inline-block;
            padding: 25px 35px;
            
        }
    }
    @media screen and (max-width: 1140px) {
        & {
            margin: 0 20px;
        }
        
    }
   @media screen and (max-width: 1024px) {
       & {
           justify-content: center;
       }
        &__right {
            display: none;
        }
   }
   @media screen and (max-width: 700px) {
       & {
           display: none;
       }
   }
   
}