@import './global-variable';
@import './mixin';

body, html {
    width: 100%;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
}
main {
    width: 100%;
}
.max-width {
    max-width: 1140px;
    margin: 0 auto;
    @media screen and (max-width: 1150px) {
        & {
            margin: 0 20px;
        }
    }
}

@import './navbar';
@import './header';
@import './banner';
@import './feature';
@import './can';
@import './fact';
@import './causes';
@import './category';
@import './testimonials';
@import './client';
@import './event';
@import './volunteer';
@import './blog';
.background {
    z-index: -1;
    position: absolute;
    top: 1540px;
    left: 0;
    width: 100%;
    height: 608px;
    background: url(../img/bg.jpg);
    background-size: cover;
    @media screen and (max-width: 768px) {
        top: 1300px;
    }
}

footer {
    position: relative;
    margin-top: 140px;
    width: 100%;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-color: #101216;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}
@import './subscribe';
@import './copyright';
